<!DOCTYPE html>
<html>
  <head>
	<title>test</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Databases</h1>
	<ul>
		<%
		var list = '';
		for (i = 0; i < 4; i++) {
		  list += '<li>testing + '</li>';
		}
	  %>
	  <%- list %>
	</ul>
  </body>
</html>
